.JokesList {
  display: flex;
  margin-top: 1rem;
  width: 75%;
  height: 75%;
}

.JokesList-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e6f85;
  width: 20%;
}

.JokesList-aside img {
  width: 50%;
  margin: -2rem 0 4rem;
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.JokesList-aside img:hover {
  animation: shake 2s;
}

@keyframes shake {
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.JokesList-jokes .no-jokes {
  color: black;
  text-align: center;
  position: relative;
  top: 24%;
}

.JokesList-jokes.bg-transparent {
  background-color: #f0f8ff24;
}

.JokesList-jokes {
  height: 95%;
  width: 80%;
  color: aliceblue;
  align-self: center;
  overflow: auto;
  background-color: aliceblue;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: aliceblue;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: aliceblue;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000;
}
