.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Noto Serif", serif;
  color: whitesmoke;
}

.App h1 {
  font-style: italic;
  letter-spacing: 2px;
  word-spacing: 7px;
  font-size: 2.5rem;
}

.App h1 span {
  opacity: 0.8;
}
