.JokesList {
    display: flex;
    width: 80%;
    height: 80%;
}

.JokesList-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #045780;
    width: 30%;
}

.JokesList-aside h1 {
    font-style: italic;
    letter-spacing: 2px;
    word-spacing: 7px;
    font-size: 2.5rem;
}

.JokesList-aside h1 span {
    opacity: .8;
}

.JokesList-aside img {
    width: 50%;
}

.JokesList-jokes {
    height: 90%;
    background-color: white;
    color: black;
    width: 70%;
    align-self: center;
    overflow: auto;
}