.Joke {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    padding: 1rem;
    border-bottom: 1.5px solid #0cbaba;
}

.Joke-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    margin-right: 1rem;
}

.Joke-btns span {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .3rem;
    border: 2px solid;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
}

.Joke-btns i {
    font-size: 1.2em;
    cursor: pointer;
}

.fa-thumbs-down {
    transform: scaleX(-1);
}

.Joke-text {
    width: 70%;
}

.em {
    font-size: 1.7rem;
    margin-left: auto;
}